
.DS_Store
.idea
/scripts/openitcockpit/packages/gridstack.js-0.2.3/
/scripts/openitcockpit/packages/lodash-3.9.3/
/scripts/openitcockpit/packages/UUID.js-4.0.3/
/scripts/openitcockpit/content/
*.pem
/scripts/exam/
